@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding:0;
  /* list-style: none; */
  font-family: 'Poppins','Noto Sans TC', sans-serif;
  box-sizing: border-box;
  /* outline: 1px solid ghostwhite; */
}

html {
  height: 100vh;
  width: 100%;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  background-color: #f5f5f5;
  font-size: 1.6rem;
  overflow-x: hidden;
}


/* --------------------------------------- 
  共用區 
---------------------------------------- */

img {
  width: 100%;
  height: 100%;
  object-fit:cover
}

a, 
button {
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: #333;

  outline: none;
  border: none;
}

.container {
  display: flex;
  flex-direction: column;
  padding-left: 8%;
  padding-right: 8%;
  max-width: 1200px;
  margin: auto;
}

/* 分區標題 */
hgroup {
  border-bottom: 2px solid #000;
  padding-bottom: 2%;
  margin-bottom: 50px;
  margin-top: 100px;
}

hgroup h4 {
  font-size: 33px;
  font-weight: 900;
}







/* --------------------------------------- 
  time-header 
---------------------------------------- */
.time-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(169, 169, 169);
  z-index: 10;
  margin: 0 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(245, 245, 245, 0.9);
}

.time-header .slogan {
  width: max-content;
  text-transform: uppercase;
  padding: 15px 12px;
  font-size: 1.4rem;
  letter-spacing: 1.3px;
  color: #fff;
  background-color: rgb(22, 37, 104);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.time-header .m-d-w {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 2px;
  line-height: 1;
  align-items: center;
}

.time-header .m-d-w .month {
  font-size: 1.5rem;
}

.time-header .m-d-w .month::after {
  content: '/';
  font-size: 0.5rem;
  padding-left: 5px;
}

.time-header .m-d-w .day {
  font-size: 5.5rem;
  font-weight: 300;
  letter-spacing: -2px;
}

.time-header .m-d-w .week {
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0.5px;
}

.time-header .m-d-w .wrap {
  display: grid;
  text-align: end;
  grid-template-rows: 23px;
}




/* --------------------------------------- 
  header 
---------------------------------------- */

.header {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  height: 100vh;
  margin-top: 40px;
}

.header h1 {
  font-size: 55px;
}



/* --------------------------------------- 
  header  －－ scroll
---------------------------------------- */

.scroll-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10%;
}

.scroll-wrap p {
  color: #000;
  font-weight: 300;
  text-decoration: none;
  cursor: pointer;
}

.scroll {
  position: relative;
  display: inline-block;
  top: 60px;
  left: -9999px;
  width: 10px;
  height: 10px;
  animation: runing 1.5s linear infinite;
  background-color: #333333;
  box-shadow: 9999px 35px 0 -5px #333333;
  border-radius: 50%;
  animation-delay: -0.85s;
  cursor: pointer;
}


.scroll::after, .scroll::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: runing 1.5s linear infinite;
  cursor: pointer;
}

.scroll::before {  animation-delay: -1.85s; }

.scroll::after { animation-delay: -2.85s; }



@keyframes runing {
  0% {
    box-shadow: 9999px -35.5px 0 -5px #333333;
  }
  50% {
    box-shadow: 9999px  -5.625px  0 2px #333333;
  }
  100% { 
    box-shadow: 9999px  35.5px 0 -5px #333333;
  }
}


/* .scroll {
  margin-bottom: 10%;
  position: relative;
  display: inline-block;
  font-weight: 300;
  text-decoration: none;
  cursor: pointer;
  color: #000;
  border-radius: 25px;
  padding: 2px 20px;
  transition: all 0.8s;
} */

/* .scroll::after, .scroll::before {
  content: '';
  position: absolute;
  top: 35px;
  left: 50%;
  width: 8px;
  height: 8px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  transform: rotate(45deg) translateX(-50%);
  opacity: 0;
  animation: runing 2s ease-in-out infinite;
} */

/* @keyframes runing {
  0% { 
    top: 35px;
    opacity: 0;
  }
  50% { 
    opacity: 1;
  }
  100% { 
    top: 60px;
    opacity: 0;
  }
} */




/* --------------------------------------- 
  header  －－ LOGO
---------------------------------------- */

.logo-mg {
  width: 30%;
  display: flex;
  position: relative;
}

.logo-mg img:first-child { animation: logoWhirl 10s ease-in-out infinite; }
.logo-mg img:last-child { 
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes logoWhirl {
  0% { 
    transform: rotate(0);
  }
  50% { 
    transform: rotate(180deg) scale(1);
  }
  100% { 
    transform: rotate(0);
  }
}

.opening {
  display: flex;
  align-items: center;
  gap: 50px;
}

@media screen and (max-width: 576px) {

  .logo-mg { width: 60%; }

  .opening {
    display: grid;
    gap: 50px;
    margin-top: 20%;
  }
}


/* main { margin-top: 20%;} */









/* --------------------------------------- 
  work-experience 
---------------------------------------- */

.work-item  {
  margin-bottom: 30px;
}

.work-item p {
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 15px;
}

.work-item li {
  font-size: 16px;
  margin-left: 20px;
  line-height: 1.5;
  margin-bottom: 5px;
}

/* --------------------------------------- 
  about 
---------------------------------------- */

.about article p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 2px;
}


/* --------------------------------------- 
  project 
---------------------------------------- */

.project-list {
  display: grid;
  width: 100%;
  gap: 30px;
}

.project-item {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  background-color: #ffff;

  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.project-item .pic {
  position: relative;
  min-width: 100%;
  height: 180px;
  overflow: hidden;
}

.project-item .pic img {
  animation: scalePic 15s ease-in-out infinite;
}


@keyframes scalePic {
  0% { transform: scale(1); }
  70% { transform: scale(1.15); }
  100% { transform: scale(1); }
}


.project-item .text {
  width: 90%;
  padding: 20px 0;
  text-align: justify;
}

.project-item .click-btn {
  margin-top: 20px;
  margin-left: auto;
  background-color: #1CC18E;
  color: #fff;
  width: 80px;
  height: 35px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}





/* --------------------------------------- 
  footer 
---------------------------------------- */
footer {
  text-align: center;
  margin: 20px;
  padding-top: 60px;
  padding-bottom: 100px;
}




/* --------------------------------------- 
  gototop 
---------------------------------------- */
#gototop {
  position: fixed;
  bottom: 5%;
  right: 5%;
  background-color: #00a0e8;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 9999;
}

#gototop-value {
  background-color: #fff;
  width: 55%;
  height: 55%;
  border-radius: 50%;
  position: absolute;
}

#gototop-value::after {
  content: '';
  position: absolute;
  width: 30%;
  height: 30%;
  border-bottom: 3px solid #00a0e8;
  border-left: 3px solid #00a0e8 ;
  top: 35%;
  right: 30%;
  transform: rotate(135deg);
}




/* --------------------------------------- 
  text__circle 
---------------------------------------- */
.text__circle {
  position: absolute;
  left: -400px;
  bottom: -55%;
  z-index: -50;
  max-width: 800px;
  /* opacity: 0.7; */
  animation: CircleRotation 50s infinite linear;
}


@keyframes CircleRotation {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); } 
}












/* --------------------------------------- 
  @media screen and (min-width:768px) 
---------------------------------------- */
@media screen and (min-width:768px) {
 
  .project-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-grow: 0;
  }

  .project-item {
    width: 90%;
    flex-direction: row;
    gap: 30px;
    padding-inline: 30px 0;
    padding-block: 20px;
    max-height: 150px;
    box-shadow: unset;
    transition: all 0.1s ease-out;
  }

  .project-list:hover .project-item {
    filter: blur(5px);
  }

  .project-list .project-item:hover {
    filter: blur(0);
    width: 100%;
    margin-bottom: 30px;
    box-shadow: -10px 20px 35px rgba(0, 0, 0, 0.15);
  }

  .project-item .pic {
    min-width: unset;
    width: 20%;
    max-width: 100px;
    border-radius: 20px;
    height: 100px; 
  }

  .project-list .project-item:hover .pic {
    max-width: 300px;
    max-height: 300px; 
  }

  .project-item .text {
    width: 75%;
  }

  .project-list .project-item:hover .text {
    width: 50%;
  }

  .project-item h4 {
    display: inline-block;
    position: relative;
    margin-bottom: 2px;
  }

  .project-item .click-btn {
    position: absolute;
    margin: 0;
    top: 50%;
    right: -100%;
    transform: translateY(-50%) rotate(180deg);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    background-color: #1CC18E;
    transition: all 0.3s ease-in-out;
    z-index: -1;
  }

  .project-item:hover .click-btn {
    right: 20px;
    transform: translateY(-50%) rotate(15deg);
    /* box-shadow: 6px 5px 10px rgba(0, 0, 0, 0.3); */
  }

  .project-item .pic img {
    animation: unset;
  }

  .scroll-wrap {
    position: absolute;
    bottom: 0;
    right: 5%;
  }

  .scroll-wrap p  {
    writing-mode: vertical-lr;
    text-orientation: sideways-right;
    /* transform: rotate(180deg); */
  }

  .scroll {
    top: 120px;
  }

}
