@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



@import url(assets/css/component-loadingPgae.css);

:root {
	--color-primary: #E50914;
	--color-primary-dark: #831010;
	--color-secondary: #000;
	--color-tertiary: #564d4d;
	--color-white: #fff;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	list-style: none;
	/* outline: 1px solid rosybrown; */
}

body,
html {
	width: 100%;
	height: 100vh;
	background-color: var(--color-secondary);
}

html { 
	font-size: 62.5%;
	font-family: "Noto Sans TC", "Roboto", sans-serif;
}

#app {
	width: inherit;
	height: inherit;
}

a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
	font-size: inherit;
}

button {
	display: inline-block;
	border: none;
	outline: none;
	background-color: transparent;
	color: inherit;
	cursor: pointer;
}

section {
	width: 100%;
	position: relative;
}

section::after {
	content: '';
	position: absolute;
	bottom: -1rem;
	width: 100%;
	height: 1rem;
	background-color: rgb(35,35,35);
}

.container {
	max-width: 122rem;
	margin: 0 auto;
	padding: 0 5%;
}

section.hero { height: 100vh; }
.hero__logo {
	width: 15rem;
}

.hero__logo svg {
	color: var(--color-primary);
	fill: var(--color-primary);
	vertical-align: middle;
}

.hero__header {
	padding: 3% 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	z-index: 1;
}



.hero__content {
	color: var(--color-white);
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 1;
	text-align: center;
	width: 100%;
}

.hero__content h1 {
	font-weight: 700;
	font-size: 5rem;
	letter-spacing: 3px;
	margin-bottom: 2%;
}

.hero__content p {
	font-weight: 300;
	font-size: 2.7rem;
	margin-bottom: 2%;
}

.hero__content p:nth-of-type(2) {
	font-size: 2.2rem;
	margin-bottom: 1%;
}

.hero__bg {
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%), url('assets/TW-zh-20230918-popsignuptwoweeks-perspective_alpha_website_medium.jpeg');
	background-position: center;
	background-image: cover;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.hero__bg::after {
	content: '';
	position: absolute;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.4);
}

.hero__content .input__wrap {
	display: flex;
	justify-content: space-between;
	/* background-color: #831010; */
	width: 100%;
	min-width: 50rem;
}

.hero__content input[type=email] {
	background-color: rgba(0, 0, 0, 0.3);
	color: var(--color-white);
	padding-left: 1.5rem;
	/* padding-right: 5rem;  */
	border-radius: 0.5rem;
	border: 1.5px solid var(--color-tertiary);
	outline: none;
	font-size: 1.8rem;
	font-weight: 700;
	flex: 3;
	max-width: 50rem;
	width: 100%;
}

.hero__content input[type=submit] {
	background-color: var(--color-primary);
	color: var(--color-white);
	padding: 1rem 2.5rem;
	border-radius: 0.5rem;
	border: none;
	outline: none;
	font-size: 2.5rem;
	font-weight: 700;
	cursor: pointer;
	margin-left: 2%;
	flex: 1;
	transition: all 0.1s ease-in-out;
}

.hero__content input[type=submit]:hover { background-color: var(--color-primary-dark); }
.hero__content input[type=submit]:active { background-color: var(--color-primary-dark); opacity: 0.7; }

.hero__active__wrap {
	display: flex;
	justify-content: flex-end;
	max-width: 50rem;
	width: 100%;
}


.hero__header button {
	background-color: var(--color-primary);
	color: var(--color-white);
	padding: 0.8rem 1.8rem;
	border-radius: 0.5rem;
	font-size: 1.5rem;
	margin-left: 1rem;
}

.hero__header button:hover { background-color: var(--color-primary-dark); }
.hero__header button:active { background-color: var(--color-primary-dark); opacity: 0.7; }


.hero__select__box {
	display: flex;
	align-items: center;
	color: var(--color-white);
	padding: 0 3%;
	border: 0.5px solid rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	width: 100%;
	max-width: 120px;
}

.select__box__img__icon {
	vertical-align: middle;
	padding-right: 5px;
}

.language-select {
	background-color: transparent;
	/* filter: opacity(100%); */
	background-color: transparent;
	color: var(--color-white);
	border: none;
	outline: none;
	appearance: none;
	font-size: 1.5rem;
}


footer {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 10vh;
}

footer .copyright {
	text-align: center;
	color: rgba(255, 255, 255, 0.3);
	letter-spacing: 1px;
}

@media (max-width: 600px)  {

	.hero__header {
		padding-top: 5%;
	}


	.hero__content {
		width: 100%;
		padding: 0 5%;
		bottom: 10%
	}

	.hero__content h1 {
		font-weight: 700;
		font-size: 3.2rem;
		margin-bottom: 5%;
	}
	
	.hero__content p {
		font-weight: 300;
		font-size: 2rem;
		margin-bottom: 5%;
	}

	.hero__content p:nth-of-type(2) {
		font-size: 1.6rem;
		margin-bottom: 5%;
	}

	.hero__content .input__wrap {
		flex-direction: column;
		align-items: center;
		min-width: 100%;
	}
	
	.hero__content input[type=email] {
		padding-left: 1.5rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
		width: 100%;
		margin-bottom: 10%;
	}
	
	.hero__content input[type=submit] {
		padding: 1rem 2.5rem;
		font-size: 2rem;
	}
}