
/*************************************************************
/* ERROR 404
*************************************************************/

.error-page {
  position: fixed;
  inset: 0;
  background-color: var(--color-tertiary);
  mix-blend-mode: difference;
  color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.error-page h1 { font-size: 15vw;}