
/* --------------------------------------- 
  tnav__timer
---------------------------------------- */
.nav__timer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(169, 169, 169);
  z-index: 10;
  margin: 0 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(245, 245, 245, 0.9);
}

.nav__timer .slogan {
  width: max-content;
  text-transform: uppercase;
  padding: 15px 12px;
  font-size: 1.4rem;
  letter-spacing: 1.3px;
  color: #fff;
  background-color: rgb(22, 37, 104);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.nav__timer .m-d-w {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 2px;
  line-height: 1;
  align-items: center;
}

.nav__timer .m-d-w .month {
  font-size: 1.5rem;
}

.nav__timer .m-d-w .month::after {
  content: '/';
  font-size: 0.5rem;
  padding-left: 5px;
}

.nav__timer .m-d-w .day {
  font-size: 5.5rem;
  font-weight: 300;
  letter-spacing: -2px;
}

.nav__timer .m-d-w .week {
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0.5px;
}

.nav__timer .m-d-w .wrap {
  display: grid;
  text-align: end;
  grid-template-rows: 23px;
}
